@import "tailwindcss";

:root {
  --text-primary: #ededed;

  --highlight-primary: var(--color-green-800);
  --highlight-secondary: var(--color-green-800);

  --bg-primary: #0a0a0a;
  --bg-secondary: #111313;
}

/* By Phrogz, https://stackoverflow.com/a/8888964 */
.pixelated {
  image-rendering: optimizeSpeed;             /* Legal fallback */
  image-rendering: -moz-crisp-edges;          /* Firefox        */
  image-rendering: -o-crisp-edges;            /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: -webkit-crisp-edges;       /* Safari/WebKit  */
  image-rendering: -webkit-pixelated;         /* Safari 17+, Chrome 124+ */
  image-rendering: optimize-contrast;         /* CSS3 Proposed  */
  image-rendering: crisp-edges;               /* CSS4 Proposed  */
  image-rendering: pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}

@keyframes fade-in {
  0% { opacity: 0 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-out {
  0% { opacity: 1 }
  50% { opacity: 1 }
  100% {opacity: 0 }
}

.fade-in  {
  animation-name: fade-in;
  animation-duration: 1s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
}

@theme inline {

  --color-text-primary: var(--text-primary);

  --color-highlight-primary: var(--highlight-primary);
  --color-highlight-secondary: var(--highlight-secondary);

  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);

  --font-mplus: var(--font-mplus-1p);
  --font-inter: var(--font-inter);

  --pixelated: var(--pixelated);

  --fade-in: var(--fade-in);
  --fade-out: var(--fade-out);
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
