@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --secondary-background: #111313;
}

@theme inline {

  --color-primary-bg: var(--background);
  --color-primary-fg: var(--foreground);
  --color-secondary-bg: var(--secondary-background);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-mplus: var(--font-mplus-1p);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
